.card-price {
    margin-left: 40px;
    margin-right: 40px;
    width: rem(461px);
    background-color: white;
    padding: rem(12px);
    border-radius: 12px;
    @include flex-container;
    border: 1px solid $grey-20_2;
    flex-wrap: wrap;
    position: relative;
    @media #{$screen-mobile} {
        padding: rem(8px);
    }
    &:after {
        content: "";
        height: 80%;
        right: -40px;
        display: block;
        border-right: 1px solid $grey-20_2;
        position: absolute;
    }
    &_style_main {
        margin: rem(24px) 0;
        width: unset;
        min-height: rem(230px);
        align-items: flex-start;
        &:after {
            border: unset;
        }
    }
    &__photo {
        border-radius: rem(8px);
        display: block;
        width: 80px;
        height: 60px;
        &_style_main {
            max-width: rem(410px);
            max-height: rem(230px);
            width: 100%;
            height: 100%;
        }
    }
    &__description {
        @include flex-container;
        flex: 1;
        flex-wrap: wrap;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.12px;
        color: #3c4142;
        &_style_main {
            min-width: rem(600px);
            margin-left: rem(24px);
            justify-content: unset;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            color: $grey80;
            @media #{$screen-tablet} {
                font-size: 20px;
                line-height: 26px;
            }
            @media #{$screen-mobile} {
                min-width: unset;
                margin-left: unset;
                width: 100%;
            }
        }
    }
    &__adress {
        &_style_main {
            margin-left: rem(8px);
        }
    }
    &__forex {
        font-style: normal;
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(24px);
        text-align: center;
        letter-spacing: rem(0.12px);
        color: $accent-TCX50;
        padding-right: 20px;
        &_type_square {
            padding-right: 6px;
        }
        &_style_main {
            padding-right: 0;
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__price {
        border-right: 1px solid $grey-20_2;
        padding-right: rem(20px);
        margin-right: rem(20px);
        &_type_square {
            border-right: none;
        }
        &_style_main {
            width: 100%;
            border: unset;
            font-size: 20px;
            line-height: 24px;
            @media #{$screen-tablet} {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.08px;
        color: #3c4142;
        &_super {
            vertical-align: super;
            font-size: 10px;
            &_style_main {
                vertical-align: super;
                font-size: 12px !important;
                font-weight: bold;
            }
        }
        &_style_main {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
