.hot-price {
    overflow: scroll;
    max-width: rem(1920px);
    padding: rem(20px) 0;
    width: 100%;
    background-color: $grey-5;
    height: 164px;
    transition: $transition;
    display: flex;
    flex-wrap: wrap;
    @media #{$screen-tablet} {
        padding: rem(12px) rem(16px);
        height: rem(120px);
    }
    &__header {
        padding: 0 rem(60px);
        display: flex;
        width: 100%;
        margin-bottom: rem(16px);
    }
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.12px;
        color: #3c4142;
        @media #{$screen-mobile} {
            font-size: 16px;
        }
    }
    &__photo {
        border-radius: rem(8px);
        display: block;
        width: 80px;
        height: 60px;
    }
    &__container {
    }
    &__card {
        margin-left: 40px;
        width: rem(461px);
        background-color: white;
        padding: rem(12px);
        border-radius: 12px;
        @include flex-container;
        border: 1px solid $grey-20_2;
        flex-wrap: wrap;
        position: relative;
        &:after {
            content: "";
            height: 80%;
            right: -40px;
            display: block;
            border-right: 1px solid $grey-20_2;
            position: absolute;
        }
    }
    &__description {
        @include flex-container;
        flex: 1;
        flex-wrap: wrap;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.12px;
        color: #3c4142;
    }
    &__forex {
        font-style: normal;
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(24px);
        text-align: center;
        letter-spacing: rem(0.12px);
        color: $accent-TCX50;
        border-right: 1px solid $grey-20_2;
        padding-right: 20px;
    }
}
