.list-positions {
    position: relative;
    color: $grey100;
    height: rem(200px);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: rem(30px);
    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: rem(6px);
        opacity: .6;
    }
    &_style_main {
        margin: rem(8px) rem(5px) rem(24px) 0;
        &-favorite-city {
            grid-template-columns: 1fr;
        }
    }
    &__wrapper {
        margin-right: 5px;
    }
    &__item {
        min-width: rem(160px);
        padding: rem(6px) rem(12px);
        transition: $transition;
        cursor: pointer;
        &:hover {
            background-color: $accent-TCX50;
            color: white;
        }
        &_active {
            background-color: $accent-TCX50;
            color: white;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &::-webkit-scrollbar {
        width: 8px;
        &:horizontal {
            display: none;
        }
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $grey30;
    }
}
