.main-submenu {
    position: absolute;
    z-index: 11;
    clip: rect(0, 0, 0, 0);
    visibility: hidden;
    box-shadow: 0px 6px 10px rgba(80, 86, 94, 0.02), 0px 2px 18px rgba(80, 86, 94, 0.12),
        0px 4px 5px rgba(80, 86, 94, 0.12);
    border-radius: 8px;
    transition: $transition;
    padding: 8px 0;
    background-color: white;
    top: 33px;
    left: 0;
    display: flex;
    flex-direction: column;
    &_style_sort {
        min-width: 230px;
        &-mobile {
            left: -156px;
        }
    }
    &_style_number-cards {
        min-width: 75px;
    }
    &_style_main-form-change-type {
        left: 0;
        right: 0;
        top: 103px;
        margin: 0 16px;
        @media #{$screen-mobile} {
            top: 78px;
        }
    }
    &_style_main-form-change-class {
        left: 0;
        right: 0;
        top: 103px;
        margin: 0 16px;
        @media #{$screen-mobile} {
            top: 78px;
        }
    }
    &_style_filters-adress {
        left: 0;
        right: 0;
        top: 50px;
        max-height: rem(170px);
        overflow: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        @media #{$screen-mobile} {
            top: 34px;
        }
    }
    &_style_prof-status {
        left: 0;
        right: 0;
        top: 34px;
        @media (max-width: rem(1000px)) {
            left: unset;
        }
    }
    &_style_structure {
        left: 0;
        right: 0;
        top: 34px;
    }
    &_style_prof-status-list {
        left: 0;
        right: 0;
        top: 34px;
        @media (max-width: rem(1000px)) {
            left: unset;
            right: 48px;
        }
    }
    &_style_main {
        left: 0;
        right: 0;
        top: 34px;
        @media (max-width: rem(740px)) {
            left: unset;
            top: 49px;
            right: 107px;
        }
        @media (max-width: rem(640px)) {
            top: 47px;
            right: 63px;
        }
    }
    &_style_main-big {
        left: 0;
        right: 0;
        top: 48px;
        max-height: rem(170px);
        overflow: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: $grey30;
        }
        @media #{$screen-mobile} {
            top: 34px;
        }
        @media (max-width: rem(640px)) {
        }
    }
    &_style_agents {
        left: 0;
        right: 0;
        top: 34px;
        @media (max-width: rem(1000px)) {
            left: unset;
            top: 100px;
        }
        &-first {
            @media (max-width: rem(1150px)) {
                left: 87px;
            }
            @media (max-width: rem(1000px)) {
                left: unset;
                top: 50px;
                right: 145px;
            }
        }
        &-second {
            @media (max-width: rem(1150px)) {
                left: 130px;
            }
            @media (max-width: rem(1000px)) {
                left: unset;
                top: 50px;
                right: 97px;
            }
        }
        &-third {
            @media (max-width: rem(1150px)) {
                left: 106px;
            }
            @media (max-width: rem(1000px)) {
                left: unset;
                top: 50px;
                right: 48px;
            }
        }
        &-fourth {
            @media (max-width: rem(1150px)) {
                left: 130px;
            }
            @media (max-width: rem(1000px)) {
                left: unset;
                top: 50px;
                right: 1px;
            }
        }
    }
    &_style_division {
        left: -268px;
        right: 0;
        top: 34px;
    }
    &_style_prof-page {
        left: 240px;
        right: 0;
        top: 34px;
    }
    &_style_prof-page-second {
        left: 130px;
        right: 0;
        top: 34px;
    }
    &_style_prof-status-sort {
        left: 0;
        right: 0;
        top: 34px;
        &:hover {
            background-color: $accent-TCX50;
            color: white;
            cursor: pointer;
        }
    }
    &_style_date {
        left: -33px;
        right: 0;
        top: 34px;
        @media (max-width: rem(1000px)) {
            left: unset;
        }
    }
    &__item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.12px;
        color: #222429;
        white-space: wrap;
        padding: 6px 12px;
        transition: $transition;
        &:hover .main-submenu__link {
            color: white;
        }
        &:hover {
            background-color: $accent-TCX50;
            color: white;
            cursor: pointer;
        }
        &_title {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: #50565e;
            &:hover {
                background-color: white;
                color: #50565e;
                cursor: auto;
            }
        }
        &_active {
            background-color: $accent-TCX50;
            color: white;
        }
        &_active .main-submenu__link {
            color: white;
        }
        &_type_change-type {
            padding: 6px 12px;
            &:hover {
                opacity: 1;
                background-color: unset;
            }
        }
        &_type_change-class {
            padding: 6px 12px;
            &:hover {
                opacity: 1;
                background-color: unset;
            }
        }
        &_style_prof-control-panel {
            &:hover {
                opacity: 1;
                cursor: auto;
                background-color: unset;
                color: unset;
            }
        }
        &_style_division {
            padding-top: 0;
            &:hover {
                cursor: auto;
                background-color: unset;
                color: unset;
                opacity: 1;
            }
        }
        &_style_divisor {
            margin: 2px 12px;
            padding: 6px 0 !important;
            border-top: 1px solid #e3e7e8;
            &:hover {
                cursor: auto;
                background-color: unset;
                color: unset;
                opacity: 1;
            }
        }
        &_style_structure {
            margin: 2px 12px;
            padding: 6px 0 !important;
            border-top: 1px solid #e3e7e8;
            &:first-child {
                border-top: none;
            }
            &:hover {
                cursor: auto;
                background-color: unset;
                color: unset;
                opacity: 1;
            }
        }
        &_style_structure-wide {
            margin: 0;
            border-top: 1px solid #e3e7e8;
            &:first-child {
                border-top: none;
            }
            &:hover {
                cursor: auto;
                background-color: unset;
                color: unset;
                opacity: 1;
            }
        }
        &_style_analytics-wide {
            margin: 0;
            margin-top: 7px;
            border-top: 1px solid #e3e7e8;
            &:first-child {
                border-top: none;
            }
            &:hover {
                cursor: auto;
                background-color: unset;
                color: unset;
                opacity: 1;
            }
        }
        &_style_align-center {
            text-align: center;
        }
        &_style_wide {
            padding: 6px 12px;
        }
    }
    &__link {
        color: #222429;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        &:link {
            text-decoration: none;
        }
        &:visited {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__text {
        position: relative;
        display: inline;
    }
    &__index {
        position: absolute;
        right: -5px;
        top: -6px;
        vertical-align: super;
        font-size: 8px;
    }
    &__button-reset {
        color: #1565c0;
        border: none;
        background-color: transparent;
        padding-top: 6px;
    }
}

#submenu-select-sort {
    @media (max-width: rem(1000px)) {
        left: unset;
        right: 48px;
    }
}
