.main {
    flex-grow: 1;
    width: 100%;
    box-shadow: inset rem(0px) rem(-1px) rem(0px) $grey-20;
    &__content {
        max-width: rem(1920px);
        margin: auto;
        margin-bottom: 5px;
        background: #fff;

        display: flex;
        justify-content: center;
        background: #fff;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
&__control-panel {
    @include flex-container;
    background-color: lightgray;
    height: 32px;

}
    &__container {
        padding: rem(16px) rem(60px);
        @include flex-container;
        flex-wrap: wrap;
        @media #{$screen-mobile} {
            padding: rem(16px) rem(16px);
        }
    }
    &__column {
        flex: 1;
        &_type_price {
            flex: unset;
            @media #{$screen-mobile} {
                width: 100%;
            }
        }
        &_type_filters {
            max-width: 33%;
            text-align: center;
            background-color: lightgray;
        }
    }
    &__control-panel {
        width: 100%;
    }
}
