.main-submenu {
    position: absolute;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 6px 10px rgba(80, 86, 94, 0.02), 0px 2px 18px rgba(80, 86, 94, 0.12),
        0px 4px 5px rgba(80, 86, 94, 0.12);
    border-radius: 8px;
    transition: $transition;
    padding: 8px 0;
    background-color: white;
    top: 36px;
    left: 0;
    &_style_sort {
        min-width: 230px;
        &-mobile {
            left: -156px;
        }
    }
    &_style_number-cards {
        min-width: 75px;
    }
    &_style_main-form-change-type {
        left: 0;
        right: 0;
        top: 105px;
        margin: 0 16px;
    }
    &_style_main-form-change-class {
        left: 0;
        right: 0;
        top: 105px;
        margin: 0 16px;
    }
    &_style_prof-status {
        left: 0;
        right: 0;
        top: 34px;
    }
    &_style_prof-page {
        left: 240px;
        right: 0;
        top: 34px;
    }
    &_style_prof-status-sort {
        left: 0;
        right: 0;
        top: 34px;
        &:hover {
            background-color: $accent-TCX50;
            color: white;
            cursor: pointer;
        }
    }
    &__item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.12px;
        color: #222429;
        padding: 6px 12px;
        white-space: wrap;
        transition: $transition;
        &:hover {
            background-color: $accent-TCX50;
            color: white;
            cursor: pointer;
        }
        &_title {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: #50565e;
            &:hover {
                background-color: white;
                color: #50565e;
                cursor: auto;
            }
        }
        &_active {
            background-color: $accent-TCX50;
            color: white;
        }
        &_style_prof-control-panel {
            &:hover {
                cursor: auto;
                background-color: unset;
                color: unset;
            }
        }
    }
}
