.main-search {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.12px;
    color: #222429;
    padding: 3px 36px 3px 12px;
    border: 1px solid #cfd4dc;
    border-radius: 4px;
    &_style_main {
        margin-left: 4px;
    }
}
