.main-search {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.12px;
    color: #222429;
    padding: 3px 31px 3px 12px;
    border: 1px solid #cfd4dc;
    border-radius: 4px;
    &_style_main {
        margin-left: 4px;
        position: relative;
        min-width: 76px;
        text-align: center;
        background: url('./../images/icons/main-cursor-down.svg') no-repeat 77%;
        &-filters {
            border: none;
            margin-left: 21px;
            background: unset
        }
        &:hover {
            cursor: pointer;
        }
        &:hover .main-submenu {
            opacity: 1;
            visibility: visible;
        }
    }
    &_style_sort {
        min-width: 230px;
        text-align: start;
        background-position-x: 90%;
    }
}
