@charset "utf-8";

.main-form {
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.12px;
    color: #6c737d;
    @media #{$screen-mobile} {
        padding: rem(12px) rem(8px);
    }
    &__label {
        overflow: hidden;
        position: relative;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff;
        border: 1px solid #e3e7e8;
        border-radius: 8px;
        padding: 16px;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.12px;
        color: #3c4142;
        @media #{$screen-mobile} {
            margin-top: rem(8px);
            padding: rem(12px);
        }
        &-checkbox {
            position: relative;
            padding-right: 16px;
            border: 1px solid #e3e7e8;
            border-radius: 8px;
            width: 50%;
            margin: 16px 0 0;
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.12px;
            color: #6c737d;
            @media #{$screen-mobile} {
                padding-right: 0;
                margin: rem(12px) 0 0 0;
                min-height: rem(32px);
            }
            &:first-child {
                margin-right: 16px;
                @media #{$screen-mobile} {
                    margin-right: 8px;
                }
            }
            &:hover {
                cursor: pointer;
            }
            &_type_select {
                margin: 0;
                width: 100%;
                @media #{$screen-mobile} {
                    height: unset;
                }
            }
        }
        &_type_select {
            overflow: unset;
        }
    }
    &__input {
        width: 100%;
        height: 48px;
        padding: 20px 12px 4px;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: 12px;
        border: 1px solid #cfd4dc;
        box-sizing: border-box;
        border-radius: 4px;
        @media #{$screen-mobile} {
            height: 32px;
            padding: rem(4px) rem(12px);
            padding-right: 35px;
        }
        &_type_search {
            margin-top: 0;
            padding-left: 37px;
            background-image: url("./../images/icons/main-filters-search.svg");
        }
        &_style_two-column {
            margin-right: 16px;
            @media #{$screen-mobile} {
                margin-right: 8px;
                padding-right: 12px;
            }
        }
        &_style_no-right-margin {
            margin-right: 0;
        }
        &_type_checkbox {
            opacity: 0;
            width: 16px;
            height: 16px;
            margin: 15px 8px 15px 12px;
            flex-shrink: 0;
            @media #{$screen-mobile} {
                margin: 7px 8px 7px 12px;
            }
            &:checked + .main-form__visible-input {
                background-image: url('./../images/icons/profile-active-checkbox.svg')
            }
        }
        &_style_select {
            padding: rem(4px) rem(12px);
            padding-right: 35px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__two-column {
        @include flex-container;
        &_style_buttons {
            border-top: 1px solid #e3e7e8;
        }
    }
    &__text-value {
        margin-top: rem(16px);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.12px;
        color: #6d7678;
        // padding-bottom: 7px;
        min-width: 22px;
        @media #{$screen-mobile} {
            margin-top: rem(8px);
        }
        &_style_label {
            height: rem(20px);
            margin-top: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.12px;
            color: #3c4142;
            text-align: left;
            @media #{$screen-mobile} {
                padding-bottom: 0;
            }
        }
    }
    &__text-upper-index {
        vertical-align: super;
        font-size: 12px;
        font-weight: bold;
    }
    &__button {
        height: 48px;
        width: 100%;
        margin: 16px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.12px;
        border: none;
        border-radius: 4px;
        transition: $transition;
        @media #{$screen-mobile} {
            margin: 8px 0;
            height: rem(32px);
        }
        &:hover {
            opacity: 0.7;
        }
        &_type_minimize {
            background-color: transparent;
            color: #1565c0;
        }
        &_type_reset {
            color: #222429;
            border: 1px solid #cfd4dc;
            margin-right: 16px;
            margin-bottom: 0;
            background-color: white;
        }
        &_type_submit {
            color: white;
            background-color: $accent-TCX50;
            margin-bottom: 0;
        }
        &_type_confirm {
            color: white;
            background-color: $accent-TCX50;
            margin: 5px auto 10px;
            width: 50%;
        }
    }
    &__cursor {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        background: url("./../images/icons/main-cursor-down.svg") no-repeat center/12px;
        transition: $transition;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        &_active {
            transform: rotate(180deg);
        }
        &_style_input {
            top: 43%;
            @media #{$screen-mobile} {
                background: url("./../images/icons/main-cursor-mobile.svg") no-repeat center;
                top: 37%;
                right: 7px;
            }
        }
        &_style_label {
            top: 23px;
            right: 10px;
            transform: translateY(-50%);
            @media #{$screen-mobile} {
                top: 16px;
                right: 5px;
                background: url("./../images/icons/main-cursor-mobile.svg") no-repeat center;
            }
        }
    }
    &__wrapper-input {
        position: relative;
    }
    &__adress {
        height: 0;
        transition: $transition;
        &_active {
            height: 198px;
            @media #{$screen-mobile} {
                height: rem(132px);
            }
        }
    }
    &__wrapper-fields {
        height: 0;
        overflow: hidden;
        transition: $transition;
        &_active {
            height: 950px;
            overflow: unset;
            @media #{$screen-mobile} {
                height: rem(683px);
            }
        }
    }
    &__caption {
        &_type_general-search {
            padding-left: rem(37px);
        }
    }
    &__visible-input {
        transition: $transition;
        position: absolute;
        background: url('./../images/icons/checkbox-empty.svg') no-repeat center;
        width: 16px;
        height: 16px;
        top: auto;
        left: 12px;
    }
}
