.main {
    max-width: rem(1920px);
    flex-grow: 1;
    background: #fff;
    box-shadow: inset rem(0px) rem(-1px) rem(0px) $grey-20;
    display: flex;
    justify-content: center;
    background: #fff;
    width: 100%;
}
