.mix {
    &-visible {
        opacity: 1 !important;
        visibility: visible !important;
    }
    &-hidden {
        opacity: 0 !important;
        visibility: hidden !important;
    }
    &-visible-scale {
        opacity: 1 !important;
        visibility: visible !important;
        transform: scale(1) !important;
    }
}
