.modal-support {
  .modal {
    &__content {
      width: 600px;
      @media #{$screen-mobile} {
        width: 328px;
      }
    }
    &__row {
      border-bottom: none;
      @media #{$screen-mobile} {
        display: block;
      }
    }
  }
  &__subtitle {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $grey-20;
  }

  .file-input {
    @include file-input;
  }

  &__file-block-title {
    font-size: $font-size-very-small;
    margin-bottom: 8px;
  }
  .custom-text-input {
    flex: 50%;
    input {
      @media #{$screen-mobile} {
        height: 32px;
        padding: 4px 12px;
      }
      &:focus + span {
        display: none;
      }
    }
    &__label {
      @media #{$screen-mobile} {
        top: 4px;
      }
    }
  }
  .custom-text-input_text {
    margin-bottom: 24px;
    height: 160px;
  }
  .custom-text-input + .custom-text-input {
    margin-left: 18px;
    @media #{$screen-mobile} {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}
