.modal-registration {
  .checkbox-container {
    justify-content: flex-start;
    font-size: $font-size-very-small;
    line-height: 16px;
    margin-bottom: 16px;
    &__checkbox {
        flex-shrink: 0;
    }
    p {
        text-align: start;
    }
  }
}
