// @use "./prop-mix" as *;

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(60, 65, 66, 0.6);
  &_type_header {
      transition: $transition;
      transform: scale(4);
    opacity: 0;
    display: flex;
    z-index: -1;
  }
  &__content {
    border-radius: 12px;
    width: fit-content;
    background-color: white;
    margin: auto;
    box-shadow: $shadow-100;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 16px 24px;
  }
  &__close-btn {
    width: 24px;
    height: 24px;
    @include flex-container;
    background-color: transparent;
    border: none;
  }
  &__body {
    padding: 0 24px 24px;
  }
  &__footer {
    display: flex;
    justify-content: end;
    padding: 20px 24px;
    border-top: 1px solid $grey-20;
  }
  &__cancel-btn {
    @include secondary-btn;
    margin-right: 8px;
    padding: 4px 12px;
  }
  &__login-btn {
    @include primary-btn($accent-TCX50);
    padding: 4px 12px;
  }
}
