.modal-login,
.modal-registration {
  .modal__content {
    width: 400px;
    text-align: center;
    @media #{$screen-mobile} {
      width: 328px;
    }
  }
  &__password-container {
    position: relative;
  }

  &__email,
  &__password {
    margin-bottom: 16px;
    height: 48px;
  }
  &__password-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 8px;
    right: 12px;
    border-radius: 4px;
    cursor: pointer;
    @include flex-container;
    @media #{$screen-mobile} {
      transform: scale(0.75);
      top: 0px;
      right: 8px;
    }
    svg {
      fill: $grey60;
      display: none;
    }
    &:hover {
      background-color: $grey-20;
      transition: $transition;
      svg {
        fill: $grey70;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    line-height: 16px;
    font-size: $font-size-very-small;
  }
  &__login-btn {
    @include primary-btn($accent-TCX50);
    padding: 8px;
    width: 100%;
    height: 40px;
    margin-bottom: 32px;
    @media #{$screen-mobile} {
      height: 32px;
      padding: 4px;
      margin-bottom: 28px;
    }
    &_type_reset-password {
        margin-bottom: 16px;
    }
  }
  &__registration-btn {
    @include primary-btn($accent-TCX50);
    padding: 8px;
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    @media #{$screen-mobile} {
      height: 32px;
      padding: 4px;
      margin-bottom: 20px;
    }
  }
  &__registration-link {
    margin: auto;
    display: block;
    &:last-child {
        margin-top: 10px;
    }
  }
  .custom-text-input {
    @media #{$screen-mobile} {
      width: 100%;
      height: 32px;
    }
    input {
      @media #{$screen-mobile} {
        padding: 4px 12px;
        height: 100%;
      }
    }
    input:focus + span {
      @media #{$screen-mobile} {
        display: none;
      }
    }

    &__label {
      top: 12px;
      @media #{$screen-mobile} {
        top: 4px;
      }
    }
  }
  a:visited {
    color: $accent100;
  }
  .modal-login__password-icon_active {
    display: block;
  }
  .custom-text-input__label_full {
    top: 4px;
  }
}
