.modal-support {
  .modal {
    &__content {
      width: 600px;
      @media #{$screen-mobile} {
        width: 328px;
        max-height: calc(100vh - 40px);
        overflow-y: scroll;
      }
    }
    &__row {
      border-bottom: none;
      @media #{$screen-mobile} {
        display: block;
      }
    }
  }
  &__subtitle {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $grey-20;
    @media #{$screen-mobile} {
      padding-bottom: 16px;
      margin-bottom: 16px;
    }
  }

  .file-input {
    @include file-input;
    &_fill {
      z-index: -1;
    }
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
    &__name {
      a {
        font-size: $font-size-normal;
      }
      overflow: hidden;
    }
    &__text {
      flex: 100%;
    }
    &__file {
      padding: 8px;
      margin: 12px 8px 0 0;
      overflow: hidden;
    }
  }

  &__file-block-title {
    font-size: $font-size-very-small;
    margin-bottom: 8px;
  }
  .custom-text-input {
    flex: 50%;
    input {
      @media #{$screen-mobile} {
        height: 32px;
        padding: 4px 12px;
      }
      @media #{$screen-mobile} {
        &:focus + span {
          display: none;
        }
      }
    }
    &__label {
      @media #{$screen-mobile} {
        top: 4px;
      }
    }
  }
  .custom-text-input_text {
    margin-bottom: 24px;
    height: 160px;
    @media #{$screen-mobile} {
      margin-bottom: 16px;
    }
  }
  .custom-text-input + .custom-text-input {
    margin-left: 18px;
    @media #{$screen-mobile} {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}
