@charset "utf-8";

.popup-change-city {
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.12px;
        color: $grey100;
        margin-bottom: rem(16px);
    }
    &__label {
        border: 1px solid #cfd4dc;
        margin-bottom: rem(20px);

    }
    &__caption:before {
        content: 'Введите название города';
        @media #{$screen-mobile} {
            content: 'Название города';
        }
    }
    &__column {
        display: grid;
        grid-template-columns: 1fr 2fr;
        @media #{$screen-mobile} {
            grid-template-columns: 1fr;
            max-height: 100vh;
            overflow: auto;
        }
    }
    &__list {
        position: relative;
        &:last-child {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @media #{$screen-mobile} {
                grid-template-columns: 1fr;
            }
        }
    }
    &__overlay {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 23px;
        background-color: white;
        opacity: 0.7;
        z-index: 1;
        left: 0;
        @media #{$screen-mobile} {
            top: rem(110px);
        }
    }
    &__item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.12px;
        color: $grey100;
        padding: rem(4px) rem(12px);
        transition: $transition;
        white-space: nowrap;
        &:hover {
            cursor: pointer;
            background-color: $accent-TCX50;
            color: white;
        }
        &_type_favorite {
            font-weight: 500;
        }
        &_type_active {
            background-color: $accent-TCX50;
            color: white;
        }
    }
}
