.prof-label-checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 8px;
    flex-shrink: 0;
    &:hover {
        cursor: pointer;
    }
    &__input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        &:checked + .prof-label-checkbox__visible-checkbox {
            background: url("./../images/icons/profile-active-checkbox.svg") no-repeat center;
        }
    }
    &__visible-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #cfd4dc;
        border-radius: 2px;
    }
}
