.prof-table {
    height: 412px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
        &:horizontal {
            display: none;
        }
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $grey30;
    }
    &_type_waiting-list {
        display: flex;
        flex-direction: column;
    }
    &_type_ankets {
        height: 326px;
    }
    &__row {
        display: grid;
        grid-template-columns: 199px 90px 110px 180px 152px 210px;
        column-gap: 16px;
        align-items: center;
        border-top: 1px solid #e3e7e8;
        position: relative;
        &:hover {
            cursor: pointer;
        }
        @media (max-width: rem(1010px)) {
            grid-template-columns: 199px 90px 110px 180px 152px 180px;
        }
        &:first-child {
            margin-top: 16px;
            &:hover {
                cursor: auto;
            }
        }
        &_style_objects {
            grid-template-columns: 327px 70px 120px 80px 90px 170px 56px;
            @media (max-width: rem(1010px)) {
                grid-template-columns: 327px 70px 120px 80px 90px 140px 56px;
            }
        }
        &_style_waiting-list {
            grid-template-columns: 200px 200px 200px 336px;
            &:last-of-type {
                border-bottom: 1px solid #e3e7e8;
            }
            @media (max-width: rem(1550px)) {
                grid-template-columns: 200px 200px 200px 368px;
            }
        }
        &_style_agent {
            grid-template-columns: 85px 160px 95px 160px 75px 100px 100px 95px;
        }
        &_style_agent-archive {
            grid-template-columns: 80px 155px 95px 155px 70px 100px 120px 95px;
        }
        &_style_users {
            grid-template-columns: 40px 297px 160px 160px 220px;
            &:first-child {
                margin-top: 0;
            }
        }
        &_style_size {
            grid-template-columns: 40px 169px 100px 70px 140px 80px 80px 150px;
            &:first-child {
                margin-top: 0;
            }
        }
        &_style_views {
            grid-template-columns: 40px 120px 70px 180px 90px 150px 160px;
            &:first-child {
                margin-top: 0;
            }
        }
        &_style_appeals {
            grid-template-columns: 40px 138px 80px 90px 125px 90px 90px 90px 70px;
            &:first-child {
                margin-top: 0;
            }
        }
        &_style_feedback {
            grid-template-columns: 40px 179px 110px 180px 100px 100px 136px;
            &:first-child {
                margin-top: 0;
            }
        }
        &_style_period {
            grid-template-columns: 40px 200px 200px 155px 195px 70px;
            &:first-child {
                margin-top: 0;
            }
        }
        &_style_offers {
            grid-template-columns: 278px 70px 120px 85px 120px 120px 94px;
        }
        &_style_one-row {
            padding: 14px 0;
            display: flex;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__row-heading {
        color: #6d7678;
        padding: 16px 0;
    }
    &__row-content {
        max-height: 48px;
        padding: 16px 0;
        display: flex;
        align-items: center;
        color: #3c4142;
        overflow: hidden;
        white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
        }
        &_type_wrap {
            white-space: unset;
        }
        &_type_agent {
            padding: 12px 0;
        }
    }
    &__index {
        position: absolute;
        right: -4px;
        top: -4px;
        vertical-align: super;
        font-size: 8px;
    }
    &__test-checkbox {
        width: 32px;
        height: 20px;
        background: url("./../images/switch-off.jpg") no-repeat center;
        margin-right: 4px;
        transition: $transition;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &__test-checkbox-active {
        width: 32px;
        height: 20px;
        background: url("./../images/switch-on.jpg") no-repeat center;
        margin-right: 4px;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &__number {
        margin-left: 4px;
    }
    &__button {
        border-radius: 4px;
        border: none;
        background-color: #2a9b43;
        padding: 4px 8px;
        color: white;
        transition: $transition;
        &:hover {
            opacity: 0.8;
        }
        &:disabled {
            background-color: #e1e5eb;
            color: #b4bbc6;
        }
        &_type_waiting-list {
            margin-left: auto;
            margin-top: 14px;
        }
    }
    &__link {
        color: #1565c0;
        font-weight: 400;
    }
    &__caption {
        font-weight: 400;
    }
    &__text {
        position: relative;
        display: inline;
    }
    &__icon {
        width: 24px;
        height: 24px;
        background: url("./../images/icons/profile-document-active.svg")
            no-repeat center;
        transition: $transition;
        &:hover {
            opacity: 0.8;
        }
    }
    .tooltip {
        opacity: 1;
        position: absolute;
        top: -50%;
        z-index: 99;
        svg {
            position: absolute;
            bottom: -4px;
            left: 10%;
        }
    }
    &__input {
        border: 1px solid #e1e5eb;
        min-height: 32px;
        padding: 4px 12px;
        border-radius: 4px;
        width: 100%;
    }
}
