.prof-control-panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    &_type_director {
        display: block;
    }
    &_type_mobile {
        justify-content: center;
    }
    &_type_feedback {
        @media (max-width: rem(1780px)) {
            margin-left: auto;
            margin-top: 4px;
        }
        @media (max-width: rem(1600px)) {
            margin-left: 0;
        }
    }
    &_type_agent {
        @media (max-width: rem(1000px)) {
            flex-wrap: nowrap;
            align-items: flex-end;
        }
        @media (max-width: rem(500px)) {
            flex-wrap: wrap;
        }
    }
    &_type_about-me {
        @media (max-width: rem(1150px)) {
            justify-content: space-between;
        }
        @media (max-width: rem(1000px)) {
            justify-content: flex-start;
        }
    }
    &__buttons-container {
        min-width: 228px;
        height: 32px;
        background-color: #e6fae9;
        border-radius: 50px;
        @include flex-container;
        &_type_analytic {
            min-width: 208px;
        }
        &_type_diagram {
            min-width: 243px;
        }
        &_type_agent {
            width: 241px;
            @media (max-width: rem(1000px)) {
                order: -1;
            }
        }
    }
    &__button {
        height: 28px;
        padding: 4px 24px;
        background: transparent;
        border-radius: 50px;
        border: none;
        color: #6c737d;

        &_active {
            background-color: #2a9b43;
            color: white;
        }
        &_type_confirm {
            background-color: #2a9b43;
            color: white;
        }
        &_type_transfer {
            background-color: $accent-TCX50;
            color: white;
            border-radius: 4px;
            margin-left: 40px;
            display: flex;
            align-items: center;
            min-width: 167px;
            height: 32px;
            @media (max-width: rem(1150px)) {
                order: 2;
                margin-top: 16px;
                margin-left: 0;
            }
            @media (max-width: rem(1000px)) {
                display: none;
            }
        }
        &_type_mobile {
            background-color: $accent-TCX50;
            color: white;
            border-radius: 4px;
            margin-left: 6px;
            display: flex;
            align-items: center;
            min-width: 167px;
            height: 32px;
        }
        &_type_cancel {
            justify-content: center;
            background-color: white;
            color:  #222429;
            border: 1px solid #CFD4DC;
            border-radius: 4px;
            display: flex;
            align-items: center;
            min-width: 137px;
            height: 32px;
        }
    }
    &__checkbox-label {
        color: #6d7678;
        margin-left: auto;
        margin-right: 40px;
        &:hover {
            cursor: pointer;
        }
        @media (max-width: rem(1150px)) {
            margin-left: unset;
            margin-right: auto;
        }
        @media (max-width: rem(1000px)) {
            display: none;
        }
    }
    &__select-label {
        position: relative;
        color: #6d7678;
        position: relative;

        display: flex;
        align-items: center;
        @media (max-width: rem(1000px)) {
            border-radius: 4px;
        }
        &:hover {
            cursor: pointer;
        }
        &_active {
            @media (max-width: rem(1000px)) {
                &:before {
                    background-color: white !important;
                }
            }
        }
        &_type_transfer-objects {
            margin-top: 0;
            @media (max-width: rem(640px)) {
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 4px;
                position: static;
                &:before {
                    content: "";
                    position: absolute;
                    border-radius: 4px;
                    z-index: 1;
                    width: 32px;
                    height: 32px;
                    background: url(./../images/icons/main-page-icon-filters.svg) no-repeat center;
                    background-color: #fff;
                }
            }
        }
        &_type_register {
            color: #3C4142;
            width: 100%;
            flex: 428px;
        }
        &_type_transfer-objects.prof-control-panel__select-label_active:before {
            background: url(./../images/icons/main-page-icon-filters-active.svg) no-repeat center;
            background-color: white !important;
        }
        &_type_main {
            margin-top: 0;
            @media (max-width: rem(740px)) {
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 4px;
                position: static;
                &:before {
                    content: "";
                    position: absolute;
                    border-radius: 4px;
                    z-index: 1;
                    width: 32px;
                    height: 32px;
                    background: url(./../images/icons/main-page-icon-search.svg) no-repeat center;
                    background-color: #fff;

                }
            }
        }
        &_type_main.prof-control-panel__select-label_active:before {
            background: url(./../images/icons/main-page-icon-search-active.svg) no-repeat center;
            background-color: white !important;
        }
        &_type_about-me {
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: rem(1150px)) {
                display: flex;
                align-items: center;
                width: 45%;
                margin-right: 0;
                margin-top: 10px;
            }
            @media (max-width: rem(1000px)) {
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 4px;
                position: static;
                margin-right: 16px;
                &:before {
                    content: "";
                    position: absolute;
                    border-radius: 4px;
                    z-index: 1;
                    width: 32px;
                    height: 32px;
                    background: url(./../images/icons/main-page-icon-filters.svg) no-repeat center;
                    background-color: #fff;

                }
            }
            &-sort {
                &:before {
                    background: url(./../images/icons/main-page-icon-search.svg) no-repeat center;
                    background-color: #fff;
                }
            }
        }
        &_type_about-me.prof-control-panel__select-label_active:before {
            background: url(./../images/icons/main-page-icon-filters-active.svg) no-repeat center;
            background-color: white !important;
        }
        &_type_about-me-sort.prof-control-panel__select-label_active:before {
            background: url(./../images/icons/main-page-icon-search-active.svg) no-repeat center;
            background-color: white !important;
        }
        &_type_main-big {
            margin-top: 16px;
            @media (max-width: rem(640px)) {
                margin-top: 12px;
            }
        }
        &_type_sort {
            margin-top: 16px;
            @media (max-width: rem(1150px)) {
                margin-top: 0;
                margin-left: 20px;
            }
            @media (max-width: rem(1000px)) {
                position: static;
                margin-left: 16px;
                order: -1;
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 4px;
                &:hover {
                    cursor: pointer;
                }
                &:before {
                    content: "";
                    position: absolute;
                    border-radius: 4px;
                    z-index: 1;
                    width: 32px;
                    height: 32px;
                    background: url(./../images/icons/main-page-icon-search.svg) no-repeat center;
                    background-color: #fff;

                }
            }
        }
        &_type_sort.prof-control-panel__select-label_active:before {
            background: url(./../images/icons/main-page-icon-search-active.svg) no-repeat center;
            background-color: white !important;
        }
        &_type_filters {
            @media (max-width: rem(1150px)) {
                margin-left: auto;
            }
            @media (max-width: rem(1000px)) {
                position: static;
                margin-left: 16px;
                width: 32px;
                height: 32px;
                overflow: hidden;
                border-radius: 4px;
                &:hover {
                    cursor: pointer;
                }
                &:before {
                    content: "";
                    position: absolute;
                    border-radius: 4px;
                    z-index: 1;
                    width: 32px;
                    height: 32px;
                    background: url(./../images/icons/main-page-icon-filters.svg) no-repeat center;
                    background-color: #fff;

                }
            }
        }
        &_type_filters.prof-control-panel__select-label_active:before {
            background: url(./../images/icons/main-page-icon-filters-active.svg) no-repeat center;
            background-color: white !important;
        }
        &_type_filters-analytic {
            width: 32px;
            height: 32px;
            margin-left: 16px;
            background: url(./../images/icons/main-page-icon-filters.svg) no-repeat center;
            border-radius: 4px;

        }
        &_type_filters-analytic.prof-control-panel__select-label_active {
            background: url(./../images/icons/main-page-icon-filters-active.svg) no-repeat center;
        }
        &_type_status-agent {
            margin-right: 40px;
            @media (max-width: rem(1000px)) {
                width: 32px;
                height: 32px;
                position: static;
                overflow: hidden;
                margin-right: 0;
                flex-shrink: 0;
                margin-top: auto;
                margin-left: 16px;
                &:hover {
                    cursor: pointer;
                }
                &:before {
                    content: "";
                    position: absolute;
                    border-radius: 4px;
                    z-index: 1;
                    width: 32px;
                    height: 32px;
                    background: url(./../images/icons/main-page-icon-filters.svg) no-repeat center;
                    background-color: #fff;
                }
            }
        }
        &_type_period {
            margin-left: 16px;
            @media (max-width: rem(1000px)) {
                width: 32px;
                height: 32px;
                position: static;
                overflow: hidden;
                margin-right: 0;
                flex-shrink: 0;
                margin-top: auto;
                margin-left: 16px;
                &:hover {
                    cursor: pointer;
                }
                &:before {
                    content: "";
                    position: absolute;
                    border-radius: 4px;
                    z-index: 1;
                    width: 32px;
                    height: 32px;
                    background: url(./../images/icons/main-page-icon-filters.svg) no-repeat center;
                    background-color: #fff;
                }
            }
            @media (max-width: rem(500px)) {
                margin-top: 16px;
                margin-left: auto;
            }
        }
        &_type_period.prof-control-panel__select-label_active:before {
            background: url(./../images/icons/main-page-icon-filters-active.svg) no-repeat center;
            background-color: white !important;
        }
        &_type_division {
            display: block;
            width: 100%;
        }
    }
    &__cursor {
        position: absolute;
        top: 12px;
        right: 10px;
        width: 8px;
        height: 8px;
        background: url("./../images/icons/main-cursor-down.svg") no-repeat center/8px;
        transition: $transition;
        &_active {
            transform: rotate(180deg);
        }
        &_type_register {
            top: 20px;
            right: 15px;
        }
        &_type_structure {
            background: url("./../images/icons/main-cursor-mobile.svg") no-repeat center;
        }
        &_type_agent {
            @media (max-width: rem(1000px)) {
                display: none;
            }
        }
        &_type_about-me {
            @media (max-width: rem(1000px)) {
                display: none;
            }
        }
        &_type_main {
            @media (max-width: rem(740px)) {
                display: none;
            }
        }
        &_type_main-big {
            position: absolute;
            top: 12px;
            right: 10px;
            width: 24px;
            height: 24px;
            background: url("./../images/icons/main-cursor-down.svg") no-repeat center/12px;
            transition: all 0.5s;
            @media (max-width: rem(640px)) {
                background: url("./../images/icons/main-cursor-mobile.svg") no-repeat center;
                top: 4px;
                right: 7px;
            }
        }
    }
    &__select-input {
        width: 187px;
        height: 32px;
        border: 1px solid #e1e5eb;
        border-radius: 4px;
        padding: 4px 19px 4px 12px;
        margin-left: 4px;
        &:disabled {
            background-color: #fff;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.12px;
            color: #222429;
            &:hover {
                cursor: pointer;
            }
        }
        &_type_transfer-objects {
            width: 120px;
        }
        &_type_register {
            width: 100%;
            margin-left: 0;
            min-height: 48px;
            color: #6C737D;
            &:disabled {
                color: #6C737D;
            }
        }
        &_type_about-me {
            width: 105px;
            padding-left: 7px;
            @media (max-width: rem(1150px)) {
                width: unset;
                flex: 1;
                margin-left: 5px;
            }
        }
        &_type_about-me-wide {
            width: 155px;
            padding-left: 7px;
            @media (max-width: rem(1150px)) {
                width: unset;
                flex: 1;
                margin-left: 5px;
            }
        }
        &_type_main {
            width: 100%;
            height: 48px;
            padding: 20px 12px 4px;
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: 12px;
            border: 1px solid #cfd4dc;
            box-sizing: border-box;
            border-radius: 4px;
            @media #{$screen-mobile} {
                height: 32px;
                padding: 4px 35px 4px 12px;
            }
        }
        &_type_sort {
            width: 210px;
        }
        &_type_page {
            width: 76px;
            @media #{$screen-mobile} {
                width: 53px;
                padding-left: 10px;
            }
        }
        &_type_period {
            width: 110px;
        }
        &_type_status-agent {
            width: 140px;
        }
        &_type_division {
            width: 100%;
            padding-right: 27px;
            margin-left: 0;
        }
    }
    &__label-custom {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 32px;
        padding-left: 30px;
        &:hover {
            cursor: pointer;
        }
        &_type_alone {
            padding-left: 27px;
            width: unset;
            color: #6d7678;
            margin-left: auto;
            margin-right: 40px;
            &:hover {
                cursor: pointer;
            }
            @media (max-width: rem(1150px)) {
                margin-left: unset;
                margin-right: auto;
            }
            @media (max-width: rem(1000px)) {
                display: none;
            }
        }
    }
    &__input-hidden {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        &:checked + .prof-control-panel__visible-radio {
            border: 5px solid #55b465;
        }
        &:checked + .prof-control-panel__visible-checkbox {
            background: url("./../images/icons/profile-active-checkbox.svg") no-repeat center;
            border: none;
        }
        &:checked + .prof-control-panel__visible-checkbox_type_alone {
            background: url("./../images/icons/profile-active-checkbox.svg") no-repeat center/ 13px 13px;
            border: none;
        }
    }
    &__visible-radio {
        position: absolute;
        left: 6px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #cfd4dc;
    }
    &__visible-checkbox {
        position: absolute;
        left: 6px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border-radius: 2px;
        border: 1px solid #cfd4dc;
        &_type_alone {

            width: 13px;
            height: 13px;
            margin-bottom: 2px;
        }
    }
    &__title-submenu {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #50565e;
        padding: 6px 12px;
        &:hover {
            background-color: unset;
            color: unset;
            cursor: default;
        }
        &:nth-of-type(2n) {
            @media (max-width: rem(1000px)) {
                border-top: 1px solid #e3e7e8;
                margin-top: 14px;
                padding-top: 10px;
            }
        }
        &_type_sort {
            display: none;
            @media (max-width: rem(1000px)) {
                display: list-item;
            }
        }
    }
    &__search {
        width: 645px;
        height: 32px;
        border: 1px solid #e1e5eb;
        margin-right: auto;
        margin-top: 16px;
        @media (max-width: rem(1150px)) {
            width: 100%;
            order: 1;
        }
        @media (max-width: rem(1000px)) {
            order: -1;
            margin-top: 0;
            width: unset;
            flex: 1;
        }
        &_type_director {
            @media (max-width: rem(1150px)) {
                width: 72%;
            }
        }
        &_type_offers {
            width: 743px;
            margin: 0;
            margin-left: 37px;
        }
        &_type_analytic {
            width: unset;
            flex: 1;
            margin: 0 24px;
        }
        &_type_agent {
            width: unset;
            flex: 1;
            margin: 0 24px;
            margin-right: 0;
            @media (max-width: rem(1150px)) {
                margin-left: 0;
            }
            @media (max-width: rem(1000px)) {
                width: 100%;
                margin-left: 0;
                margin-top: 16px;
            }
        }
        &_type_division {
            margin: 0;
            width: unset;
            flex: 1;
        }
    }
    &__input-search {
        background: url(./../images/icons/main-filters-search.svg) no-repeat 13px center/15px;
        padding: 4px 12px 4px 36px;
        height: 32px;
        &:focus + .mix-caption,
        &:not(:placeholder-shown) + .mix-caption {
            opacity: 0;
        }
    }
    &__caption {
        top: 0px;
        left: 26px;
    }
    &__download-excel {
        min-width: 178px;
        height: 32px;
        padding: 4px 11px 4px 29px;
        color: #222429;
        background: url("./../images/icons/profile-download-excel.svg") no-repeat 9px 8px;
        border: 1px solid #cfd4dc;
        border-radius: 4px;
        margin-left: auto;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    &__row {
        @include flex-container;
        justify-content: flex-start;
        width: 100%;
        height: 50px;
        border-top: 1px solid #e3e7e8;
        padding: 8px 0;
        &:first-of-type {
            margin-top: 16px;
        }
        &_type_agent {
            width: unset;
            flex: 1;
            border: none;
            padding: 0;
            height: 32px;
            &:first-of-type {
                margin-top: 0;
            }
            @media (max-width: rem(1000px)) {
                padding: 8px 0;
                order: -1;
                flex-wrap: wrap;
                flex-direction: column;
                height: unset;
                align-items: flex-start;
                width: 100%;
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            @media (max-width: rem(500px)) {
                flex: unset;
            }
        }
    }
    &__subtitle {
        color: #6d7678;
        margin-right: 4px;
        &_type_feedback {
            color: #3c4142;
        }
    }
    &__user-number {
        color: #3c4142;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.08px;
    }
    &__title {
        margin-right: auto;
        &_type_agent {
            width: 100%;
            margin-bottom: 10px;
            @media (max-width: rem(1000px)) {
                display: none;
            }
        }
    }
    &__text {
        color: #6d7678;
        display: flex;
        align-items: center;
        &:first-child {
            margin-bottom: 8px;
        }
    }
    &__input-date {
        width: 152px;
        height: 32px;
        border: 1px solid #cfd4dc;
        border-radius: 4px;
        padding: 4px 8px 4px 012px;
        margin-left: auto;
        color: #6c737d;
        &::-webkit-calendar-picker-indicator {
            position: static !important;
            background: url("./../images/icons/profile-calendar.svg") no-repeat center !important;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__label-number {
        color: #6d7678;
        &:first-of-type {
            margin-right: 16px;
        }
    }
    &__input-number {
        width: 106px;
        height: 32px;
        border: 1px solid #cfd4dc;
        border-radius: 4px;
        padding: 4px 12px;
    }
    &__index {
        vertical-align: super;
        font-size: 8px;
    }
    &__stars-container {
        margin-left: 7px;
        display: flex;
        align-items: flex-end;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.08px;
        color: #6d7678;
    }
    &__star {
        display: block;
        width: 17px;
        height: 17px;
        background: url("./../images/icons/profile-star.svg") no-repeat center/cover;
        margin: 0 7px;

        &:hover {
            cursor: pointer;
            background: url("./../images/icons/profile-star-active.svg") no-repeat center/cover;
        }
        &:last-child {
            margin-right: 0;
        }
        &_active {
            background: url("./../images/icons/profile-star-active.svg") no-repeat center/cover;
        }
    }
    &__wrapper {
        display: flex;
        width: 100%;
        margin-top: 16px;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: rem(1150px)) {
            margin-top: 0;
        }
        @media (max-width: rem(1000px)) {
            flex-wrap: nowrap;
            margin-bottom: 0;
            margin-left: 16px;
            width: unset;
            justify-content: flex-end;
        }
    }
    &__stars-caption {
        min-width: 20px;
    }
}
