.prof-general {
    width: 1068px;
    flex-shrink: 0;
    color: $grey80;
    padding-right: rem(32px);
    @media (max-width: rem(1550px)) {
        padding-right: 0;
    }
    @media (max-width: rem(1150px)) {
        width: 100%;
        flex-shrink: unset;
    }
    &__header {
        display: flex;
        align-items: center;
        border: rem(1px) solid #d0d7d9;
        border-radius: rem(12px);
        height: rem(148px);
        margin: 0 0 rem(40px) 0;
        padding: rem(24px);
        @media #{$screen-mobile} {
            border: unset;
            padding: 0;
            height: unset;
            margin-bottom: 24px;
        }
    }
    &__avatar {
        width: rem(100px);
        height: rem(100px);
        position: relative;
        margin-right: rem(24px);
        flex-shrink: 0;
        transition: $transition;
        @media #{$screen-mobile} {
            width: rem(60px);
            height: rem(60px);
            margin-right: rem(12px);
        }
    }
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__icon {
        position: absolute;
        right: 3px;
        bottom: 0;
        width: rem(12px);
        height: rem(12px);
        transition: $transition;
        background: url('./../images/icons/profile-edit-avatar.svg') no-repeat center;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        @media #{$screen-mobile} {
            right: -3px;
        }
    }
    &__body {
        border: rem(1px) solid #d0d7d9;
        border-radius: rem(12px);
        &_type_contacts {
            display: none;
            @media (max-width: rem(1550px)) {
                display: block;
            }
            @media #{$screen-mobile} {
                border: unset;
            }
        }
    }
    &__navigation {
        height: rem(40px);
        background-color: $grey-5;
        border-radius: 12px 12px 0px 0px;
        padding: 0 rem(40px);
        text-align: left;
        @media #{$screen-mobile} {
            padding: 0;
            text-align: center;
        }
    }
    &__button {
        height: rem(40px);
        border: none;
        background-color: transparent;
        color: $grey60-2;
        padding: rem(8px) rem(14px);
        transition: $transition;
        &:hover {
            opacity: 0.7;
        }
        &_active {
            border-bottom: 1px solid $accent-TCX50;
            color: $grey100;
        }
        @media #{$screen-mobile} {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.08px;
        }
    }
    &__list-sections {
        padding-bottom: rem(24px);
        display: flex;
        flex-direction: column;
        &:last-of-type {
            padding-bottom: 0;
        }
        &_size_small {
            align-items: flex-start;
        }
        &_direction_row {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    &__content {
        width: 100%;
        min-height: 645px;
        border: 0;
        padding: rem(24px);
        @media #{$screen-mobile} {
            padding: 16px;
        }
        &_type_iframe {
            padding-right: 0;
        }
        &_type_iframe-offers {
            padding-right: 0;
            min-height: 745px;
        }
        &_type_analytics {
            padding: 0;
            min-height: 540px;
            margin-bottom: 24px;
        }
        &_type_analytics-small {
            padding: 0;
            min-height: 495px;
            margin-bottom: 24px;
        }
        &_type_analytics-medium {
            padding: 0;
            min-height: 511px;
            margin-bottom: 24px;
        }
    }
    &__message {
        margin-top: rem(16px);
    }
    &__section {
        padding: rem(24px);
        border: $border-E3E7E8;
        border-radius: rem(12px);
        margin-bottom: rem(24px);
        @media #{$screen-mobile} {
            padding: 0;
            border: none;
        }
        &:nth-child(2n) {
            margin-top: 40px;
        }
    }
    &__text {
        margin-top: rem(16px);
    }
    &__cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(296px, 318px));
        justify-content: center;
        gap: 16px;
        margin: 16px 0;
    }
    &__contacts {
        display: none;
        flex-shrink: 0;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        background: url('./../images/icons/profile-tasks-chat.svg') no-repeat center;
        margin-left: auto;
        transition: $transition;
        @media (max-width: rem(1550px)) {
            display: block;
        }
        &:hover {
            cursor: pointer;
            opacity: .7;
        }
        &_active {
            background-image: url('./../images/icons/profile-tasks-chat-active.svg');
        }
    }
    &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__title {
        width: 100%;
        margin-bottom: 4px;
    }
    &__rating {
        @include flex-container;
        margin-left: 8px;
        padding-bottom: 3px;
    }
    &__agent-container {
margin-top: 16px;
    }
    &__forms-agent-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        @media (max-width: 930px) {
            grid-template-columns: 1fr;
        }
    }
    &__row {
        display: flex;
        &_type_about-me {
            @media (max-width: 800px) {
               flex-wrap: wrap;
            }
        }
    }
    &__submit-btn {
        flex-shrink: 0;
        margin-right: 200px;
        @include primary-btn($accent-TCX50);
        height: 48px;
        padding: 4px 12px;
        margin-top: 16px;
        width: 208px;
        @media (max-width: 1100px) {
            margin-right: 0;
         }
         @media (max-width: 800px) {
            width: 100%;
         }
         @media (max-width: 640px) {
            height: 32px;
         }
    }
    &__label {
        margin-right: 16px;
        @media (max-width: 800px) {
            width: unset;
            flex:1;
            &:last-of-type {
                margin-right: 0;
            }
         }
    }
    &__input {
        margin-right: 0;
        @media (max-width: 800px) {
         }
    }
}
