.prof-table {
    &__row {
        display: grid;
        grid-template-columns: 199px 90px 110px 180px 152px 178px;
        column-gap: 16px;
        align-items: baseline;
        border-top: 1px solid #E3E7E8;
        &:first-child {
            margin-top: 16px;
        }
        &:last-child {
            border-bottom: 1px solid #E3E7E8;
        }
    }
    &__row-heading {
        color: #6D7678;
        padding: 14px 0;
    }
    &__row-content {
        height: 54px;
        display: flex;
        align-items: center;
        color: #3C4142;
        overflow: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__index {
        vertical-align: super;
        font-size: 8px;
    }
    &__marker {
        flex-shrink: 0;
        display: inline-block;
        margin-right: 4px;
        &_type_green {
            width: 12px;
            height: 12px;
            border-radius:50%;
            background-color: $accent-TCX50;
        }
        &_type_red {
            width: 12px;
            height: 12px;
            border-radius:50%;
            background-color: #F44336;
        }
        &_type_hot {
            width: 16px;
            height: 20px;
            background: url('./../images/icons/prof-table-marker-hot.svg') no-repeat center;
        }
        &_type_ring {
            width: 16px;
            height: 20px;
            background: url('./../images/icons/prof-table-marker-ring.svg') no-repeat center;
            margin-left: auto;
        }
        &_type_ring-active {
            width: 16px;
            height: 20px;
            background: url('./../images/icons/prof-table-marker-ring-active.svg') no-repeat center;
            margin-left: auto;
        }
    }
}
