.registration-form {
  margin-top: 40px;
  &__tabs {
    display: flex;
    border-radius: 12px 12px 0 0;
    border: 1px solid $grey-20;
    background-color: $grey5;
  }
  &__tab {
    color: $grey60;
    flex: auto;
    padding: 8px 0;
    text-align: center;
  }
  .active {
    color: $grey100;
    border-bottom: 1px solid $accent-TCX50;
  }
  &__content {
    padding: 24px 24px;
    border: 1px solid $grey-20;
    border-top: none;
    border-radius: 0 0 12px 12px;
    margin-bottom: 40px;

    h3 {
      margin-bottom: 16px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }
  &__label {
    flex: 336px;
  }
  &__input {
    flex: 428px;
    border: 1px solid $grey30;
    border-radius: 4px;
    padding: 12px;
  }
  &__step {
    border-top: 1px solid $grey-20;
  }
  &__btn-group {
    display: flex;
  }
  &__cancel-btn {
    @include secondary-btn;
    margin-right: 16px;
    width: 205px;
    height: 40px;
  }
  &__next-btn {
    @include primary-btn($accent-TCX50);
    width: 205px;
    height: 40px;
  }
}
