// Color variables
$accent-TCX50: #2a9b43;
$accent-TCX5: #e6fae9;
$accent90: #1565c0;
$grey-5: #f6f6f8;
$grey-20: #e1e5eb;
$grey30: #cfd4dc;
$grey-50: #919c9e;
$grey60: #6d7678;
$grey60-2: #6c737d;
$grey70: #50565e;
$grey80: #3c4142;
$grey90: #2b3030;
$grey100: #222429;
$red10: #feebee;
$error: #f44336;
$grey-5: #f5f7f7;
$grey-20_2: #e3e7e8;
$yellow90: #f9a825;

// Dynamic color variables

// Fonts
$font-path: "./../fonts";
$font-family-default: "Arial", "Helvetica", sans-serif;
$font-family-custom: "Roboto";
$font-Regular: "Regular";
$font-Medium: "Medium";

$font-weight-regular: 400;
$font-weight-medium: 500;

$font-size-base: 16px;

$font-size-very-huge: rem(36px);
$font-size-huge: rem(30px);
$font-size-large: rem(24px);
$font-size-medium: rem(18px);
$font-size-normal: rem(16px);
$font-size-small: rem(14px);
$font-size-very-small: rem(12px);

$line-height-huge: 200%;
$line-height-large: 167%;
$line-height-medium: 130%;
$line-height-normal: 127%;
$line-height-small: 117%;

// Breakpoints
$screen-mobile: "(max-width: #{rem(640px)})";
$screen-tablet: "(max-width: #{rem(1024px)})";

// Layout

// Sizes

// Transitions and Animations
$transition: all 0.5s;

// Radius

// Box-shadows
$shadow-100: 0px 24px 38px rgba(80, 86, 94, 0.04),
  0px 9px 46px rgba(80, 86, 94, 0.04), 0px 11px 15px rgba(80, 86, 94, 0.1);

// Border
$border-CFD4DC: rem(1px) solid $grey30;
$border-E3E7E8: 1px solid $grey-20_2;
