.container {
  display: flex;
  max-width: 1800px;
  margin: auto;
}

.main-content {
  flex: 1057px;
  margin-right: 32px;
}

.info-card {
  padding: 24px;
  flex: 721px;
  font-size: 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #e3e7e8;
  border-radius: 12px;
  background-color: white;
}
.info-card__title {
  margin-bottom: 8px;
}
.info-card__subtitle {
  display: flex;
  margin-bottom: 16px;
  font-size: 14px;
  color: #6d7678;
}
.info-card__view {
  display: flex;
}
.info-card__number {
  margin-right: 16px;
}
.info-card__icon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}
.info-card__price-block {
  margin-bottom: 64px;
}
.info-card__price {
  margin-bottom: 8px;
}
.info-card__price-per-meter {
  margin-bottom: 12px;
  color: #6d7678;
}
.info-card__contact {
  margin-bottom: 32px;
}
.info-card__avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.info-card__link {
  color: #1565c0;
}
.info-card__position, .info-card__avatar, .info-card__name, .info-card__tel {
  margin-bottom: 8px;
}
.info-card__btns {
  display: flex;
  font-size: 16px;
}
.info-card__btns button {
  flex: 50%;
  padding: 12px 0;
}
.info-card__primary-btn {
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #2a9b43;
}
.info-card__favorite-btn {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #cfd4dc;
  color: #222429;
  background-color: white;
}
.info-card__occupied-info {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-card__error-label {
  display: inline-flex;
  padding: 8px;
  margin-right: 40px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  background-color: #feebee;
  color: #f44336;
}
.info-card__offer-btn {
  display: inline-flex;
  color: #2a9b43;
  background-color: transparent;
  border: none;
  padding: 4px;
}
.info-card__offer-btn .icon {
  margin: 0 0 0 6px;
  cursor: pointer;
}
.info-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.info-card__icon-bell {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

.basic-info {
  padding: 24px 32px 24px;
  margin-bottom: 40px;
  border: 1px solid #e3e7e8;
  border-radius: 12px;
  background-color: white;
}
.basic-info__title {
  margin-bottom: 24px;
}
.basic-info__card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.basic-info__card-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.basic-info__card {
  display: flex;
  padding: 8px;
  margin: 0 26px 32px 0;
}
.basic-info__card-title {
  margin-bottom: 4px;
}
.basic-info__card-icon {
  margin-right: 11px;
}
.basic-info__card-text {
  font-size: 14px;
}

.additional-information {
  padding: 24px;
  margin-bottom: 24px;
  border: 1px solid #e3e7e8;
  border-radius: 12px;
  background-color: white;
}
.additional-information__title {
  margin-bottom: 16px;
}

.map-object {
  border: 1px solid #e3e7e8;
  border-radius: 12px;
  background-color: white;
  padding: 24px;
}
.map-object__title {
  margin-bottom: 16px;
}

body {
  color: #3c4142;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

h5 {
  font-size: 14px;
  margin: 0;
}

P {
  margin: 0;
}

a {
  text-decoration: none;
}