@use "./prop-mix" as prop;

.container {
  display: flex;
  max-width: 1800px;
  margin: auto;
}

.main-content {
  flex: 1057px;
  margin-right: 32px;
}

.info-card {
  padding: 24px;
  flex: 721px;
  font-size: 14px;
  height: fit-content;
  @include prop.block-border;
  &__title {
    margin-bottom: 8px;
  }
  &__subtitle {
    display: flex;
    margin-bottom: 16px;
    font-size: 14px;
    color: prop.$grey60;
  }
  &__view {
    display: flex;
  }
  &__number {
    margin-right: 16px;
  }
  &__icon {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
  }
  &__price-block {
    margin-bottom: 64px;
  }
  &__price {
    margin-bottom: 8px;
  }
  &__price-per-meter {
    margin-bottom: 12px;
    color: prop.$grey60;
  }
  &__contact {
    margin-bottom: 32px;
  }
  &__avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  &__link {
    color: prop.$accent90;
  }
  &__position,
  &__avatar,
  &__name,
  &__tel {
    margin-bottom: 8px;
  }
  &__btns {
    display: flex;
    font-size: 16px;
    button {
      flex: 50%;
      padding: 12px 0;
    }
  }
  &__primary-btn {
    @include prop.primary-btn(prop.$accent-TCX50);
  }

  &__favorite-btn {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include prop.secondary-btn;
  }
  &__occupied-info {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__error-label {
    display: inline-flex;
    padding: 8px;
    margin-right: 40px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    background-color: prop.$red10;
    color: prop.$error;
  }
  &__offer-btn {
    display: inline-flex;
    color: prop.$accent-TCX50;
    background-color: transparent;
    border: none;
    padding: 4px;
    .icon {
      margin: 0 0 0 6px;
      cursor: pointer;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
  &__icon-bell {
    width: 24px;
    height: 24px;
    @include prop.flex-container;
    justify-self: end;
  }
}

.basic-info {
  padding: 24px 32px 24px;
  margin-bottom: 40px;
  @include block-border;

  &__title {
    margin-bottom: 24px;
  }
  &__card-icon {
    @include prop.flex-container;
    width: 24px;
    height: 24px;
  }
  &__card-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  &__card {
    display: flex;
    padding: 8px;
    margin: 0 26px 32px 0;
  }
  &__card-title {
    margin-bottom: 4px;
  }
  &__card-icon {
    margin-right: 11px;
  }
  &__card-text {
    font-size: 14px;
  }
}

.additional-information {
  padding: 24px;
  margin-bottom: 24px;
  @include prop.block-border;
  &__title {
    margin-bottom: 16px;
  }
}
.map-object {
  @include prop.block-border;
  padding: 24px;
  &__title {
    margin-bottom: 16px;
  }
}
